// VARIABLES
$vertical-breakdown: 1000px;
$color-light: #eee;
$color-accent-dark: darkslateblue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  // border: 1px solid black;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;

  @media (max-width: $vertical-breakdown) {
    grid-template-rows: 1fr;
  }
}

// ----------
// NAV
// ----------
#nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin: 15px;
    padding: 10px 30px;
    width: 180px;
    border: 1px solid $color-accent-dark;
    border-radius: 5px;
    font-size: 16px;
    color: $color-accent-dark;
    cursor: pointer;
  }

  .btn-active {
    background-color: $color-accent-dark;
    color: white;
  }

  @media (max-width: $vertical-breakdown) {
    display: none;
  }
}

// ----------
// WINDOWS
// ----------
#windows {
  display: flex;
  border-top: 1px solid black;

  .container {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .header {
      flex: 0 0 auto;
      margin-bottom: 15px;
      padding: 5px;
      background: $color-light;
      border: none;
      border-radius: 5px;
      text-align: center;
    }

    .content {
      flex: 1 1 auto;
      padding: 5px;
      background: $color-light;
      border: none;
      border-radius: 5px;
    }

    textarea {
      resize: none;
    }
  }
}

// ----------
// MIXIN FOR VERTICAL LAYOUT
// ----------
@mixin layout-vertical {
  flex-direction: column;

  #editor-container {
    height: 40%;
    min-height: 300px;
    width: 100%;
  }
  #preview-container {
    height: 60%;
    min-height: 400px;
    width: 100%;
  }
}

// ----------
// MIXIN FOR HORIZONTAL LAYOUT
// ----------
@mixin layout-horizontal {
  flex-direction: row;

  #editor-container {
    height: 100%;
    width: 40%;
  }

  #preview-container {
    height: 100%;
    width: 60%;
  }
}

// ----------
// CLASS FOR VERTICAL LAYOUT
// ----------
.windows-vertical {
  @include layout-vertical();
}

// ----------
// CLASS FOR HORIZONTAL LAYOUT
// ----------
.windows-horizontal {
  @include layout-horizontal();

  // CHANGE TO VERTICAL ON NARROW SCREEN
  @media (max-width: $vertical-breakdown) {
    @include layout-vertical();
  }
}
