// ----------
// VARIABLES
// ----------
$vertical-breakdown: 1000px;

$color-light: #eee;
$color-light-highlight: #ddd;
$color-medium: #999;
$color-dark: #2364aa;
$color-dark-highlight: #3da5d9;
$color-accent: #ea7317;

@mixin shadow {
  box-shadow: 0px 4px 8px $color-medium;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  // border: 1px solid black;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  background: $color-light-highlight;

  @media (max-width: $vertical-breakdown) {
    grid-template-rows: 1fr;
  }
}

// ----------
// NAV
// ----------
#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin: 20px;
    margin-bottom: 0px;
    padding: 10px 25px;
    background: white;
    border: none;
    border-radius: 9999px;
    font-size: 16px;
    color: $color-dark;
    cursor: pointer;
    @include shadow;
    &:hover {
      background: $color-accent;
    }
  }

  .btn-active {
    background-color: $color-dark;
    color: white;
    &:hover {
      background: $color-dark;
    }
  }

  @media (max-width: $vertical-breakdown) {
    display: none;
  }
}

// ----------
// WINDOWS
// ----------
#windows {
  display: flex;
  padding: 15px;

  .container {
    display: flex;
    padding: 10px;
    flex-direction: column;

    .header {
      flex: 0 0 auto;
      padding: 5px;
      background: $color-dark-highlight;
      text-align: center;
      color: $color-light;
      font-weight: bold;
      @include shadow;
    }

    .content {
      flex: 1 1 auto;
      padding: 10px;
      background: white;
      border: none;
      @include shadow;
    }

    textarea {
      resize: none;
    }
  }
}

// ----------
// MIXIN FOR VERTICAL LAYOUT
// ----------
@mixin layout-vertical {
  flex-direction: column;

  #editor-container {
    height: 40%;
    min-height: 300px;
    width: 100%;
  }
  #preview-container {
    height: 60%;
    min-height: 400px;
    width: 100%;
  }
}

// ----------
// MIXIN FOR HORIZONTAL LAYOUT
// ----------
@mixin layout-horizontal {
  flex-direction: row;

  #editor-container {
    max-height: 100%;
    width: 40%;
  }

  #preview-container {
    max-height: 100%;
    width: 60%;
  }
}

// ----------
// CLASS FOR VERTICAL LAYOUT
// ----------
.layout-vertical {
  @include layout-vertical;
}

// ----------
// CLASS FOR HORIZONTAL LAYOUT
// ----------
.layout-horizontal {
  @include layout-horizontal;

  // CHANGE TO VERTICAL ON NARROW SCREEN
  @media (max-width: $vertical-breakdown) {
    @include layout-vertical;
  }
}
