// ----------
// VARIABLES
// ----------
$vertical-breakdown: 1000px;

$color-light: #eee;
$color-light-highlight: #bbb;
$color-medium: #999;
$color-dark: #323031;

$accent-dark: #00a3f5;
$accent-dark-highlight: #30323d;

$font-em: "Audiowide", cursive;

* {
  box-sizing: border-box;
  // border: 1px solid black;
}

body {
  margin: 0px;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  background: $color-light;

  @media (max-width: $vertical-breakdown) {
    grid-template-rows: 1fr;
  }
}

// ----------
// NAV
// ----------
#nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin: 25px 15px;
    margin-bottom: 0px;
    padding: 15px 25px;
    background: white;
    border: none;
    border-radius: 5px;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    color: $color-dark;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &.btn-active {
      background-color: $accent-dark;
      color: white;
    }

    &:not(.btn-active):hover {
      background-color: $accent-dark-highlight;
      color: white;
      //box-shadow: 0px 0px 0px 3px white;
    }
  }

  @media (max-width: $vertical-breakdown) {
    display: none;
  }
}

// ----------
// WINDOWS
// ----------
#windows {
  display: flex;
  padding: 15px;

  .container {
    display: flex;
    padding: 10px;
    flex-direction: column;

    .header {
      flex: 0 0 auto;
      padding: 5px;
      background-color: $accent-dark;
      // border-bottom: 2px solid $color-dark;
      text-align: center;
      font-family: $font-em;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: white;
    }

    .content {
      flex: 1 1 auto;
      padding: 10px;
      background: white;
      border: none;
    }

    textarea {
      font-size: 14px;
      resize: none;
    }
  }
}

// ----------
// MIXIN FOR VERTICAL LAYOUT
// ----------
@mixin layout-vertical {
  flex-direction: column;

  #editor-container {
    flex: 0 0 400px;
  }
  #preview-container {
    flex: 1 0 auto;
  }
}

// ----------
// MIXIN FOR HORIZONTAL LAYOUT
// ----------
@mixin layout-horizontal {
  flex-direction: row;

  #editor-container {
    flex: 1 1 40%;
  }

  #preview-container {
    flex: 1 1 60%;
  }
}

// ----------
// CLASS FOR VERTICAL LAYOUT
// ----------
.layout-vertical {
  @include layout-vertical;
}

// ----------
// CLASS FOR HORIZONTAL LAYOUT
// ----------
.layout-horizontal {
  @include layout-horizontal;

  // CHANGE TO VERTICAL ON NARROW SCREEN
  @media (max-width: $vertical-breakdown) {
    @include layout-vertical;
  }
}
